@use "./fonts";

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Fira Code", serif;
    color: #000;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}
