.header {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	min-height: 50px;
	padding: 0 10px;
	background: #000;
	border-radius: 15px;
	z-index: 100px;
	color: #fff;
}

.header-top {
	min-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo-link {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	color: #fff;
}

.header__logo-img {
	height: 30px !important;
}

.menu-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	background: #fff;
	color: #000;
	height: 30px;
	border-radius: 7.5px;
	padding: 0 7.5px;
}

@media screen and (width <= 896px) {
	.header {
		top: 15px;
		left: 15px;
		right: 15px;
	}
}
