.home {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home__title {
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: 500;
}

.socials__container {
    position: fixed;
    bottom: 25px;
    left: 25px;
    text-align: left;
    font-size: 1rem;
}

.socials__title,
.related__title {
    opacity: 0.5;
    margin-bottom: 10px;
}

.related__container {
    position: fixed;
    bottom: 25px;
    left: 150px;
    text-align: left;
}